<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654894677586-2b29pa5s49lss0rrhgenl1uvcgtbbl14.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654894677586-2b29pa5s49lss0rrhgenl1uvcgtbbl14</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>654894677586-1lvh35up0rjiqp08plc5v7c74tka9qf6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDcvS1EITa7KwwjqdIMhWNzZPDyau0YajY</string>
	<key>GCM_SENDER_ID</key>
	<string>654894677586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bct.spj</string>
	<key>PROJECT_ID</key>
	<string>proto-v1-9a955</string>
	<key>STORAGE_BUCKET</key>
	<string>proto-v1-9a955.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654894677586:ios:3a0c7f289b573e9f67e98b</string>
</dict>
</plist>